

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* padding: 20px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.admin-dashboard-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000080;
    padding: 10px 20px;
    color: #fff;
  }
  
  .admin-dashboard-left {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #c8baba;
    font-weight: 700;
    font-family: sans-serif;
  }
  
  .admin-dashboard-image {
    height: 50px;
    border-radius: 50%;
  }
  
  .admin-dashboard-right {
    display: flex;
    gap: 20px;
  }
  
  .admin-dashboard-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .admin-dashboard-link:hover {
    color: #f0c040;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .admin-dashboard-navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .admin-dashboard-right {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    .admin-dashboard-link {
      padding: 10px 0;
      width: 100%;
      border-top: 1px solid #444;
    }
  
    .admin-dashboard-left {
      margin-bottom: 10px;
    }
  
    .admin-dashboard-image {
      height: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .admin-dashboard-link {
      font-size: 14px;
    }
  
    .admin-dashboard-image {
      height: 30px;
    }
  }

  .active{
    color: white;
  }
  #logoutBtn {
    background-color: #dc3545;
  }
  button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }