
  
  .container {
    width: 90%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  @media (max-width: 600px) {
    th, td {
      font-size: 14px;
      padding: 8px;
    }
  }
  .all-lead-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #excelDownloadBtn {
    position: fixed;
    bottom: 20px;
    right: 6px;
    width: 50px;
    height: 50px;
    background-color: unset;
    border: none;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #excelDownloadBtn img {
    width: 58px;
  }
